{% if record.status == 'waiting' %}
    <form class="form-inline"
          action="{% url 'futures_trader:futures_signal_action' record.id %}?symbol={{ request.GET.symbol }}&status={{ request.GET.status }}&from_date={{ request.GET.from_data }}&from_time={{ request.GET.from_time }}&to_date={{ request.GET.to_date }}&to_time={{ request.GET.to_time }}"
          method="post">
        <input type="hidden" name="action" value="reject"/>
        <button type="submit" class="btn btn-danger btn-sm">reject</button>
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                data-bs-target="#confirmModal-{{ record.id }}">confirm
        </button>
    </form>
{% elif record.status == 'rejected' %}
    <form class="form-inline"
          action="{% url 'futures_trader:futures_signal_action' record.id %}?symbol={{ request.GET.symbol }}&status={{ request.GET.status }}&from_date={{ request.GET.from_data }}&from_time={{ request.GET.from_time }}&to_date={{ request.GET.to_date }}&to_time={{ request.GET.to_time }}"
          method="post">
        <input type="hidden" name="action" value="unreject"/>
        <button type="submit" class="btn btn-secondary btn-sm">unreject</button>
    </form>
{% else %}
    -
{% endif %}


<div class="modal fade" id="confirmModal-{{ record.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Signal confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post"
                      action="{% url 'futures_trader:futures_signal_action' record.id %}?symbol={{ request.GET.symbol }}&status={{ request.GET.status }}&from_date={{ request.GET.from_date }}&from_time={{ request.GET.from_time }}&to_date={{ request.GET.to_date }}&to_time={{ request.GET.to_time }}">
                    <input type="hidden" name="action" value="confirm"/>
                    <label>
                        Target 1
                        <input class="form-control" name="target1" required>
                    </label>
                    <label>
                        Target 2
                        <input class="form-control" name="target2" required>
                    </label>
                    <label>
                        Stoploss
                        <input class="form-control" name="stoploss" required>
                    </label>
                    <label>
                        Margin
                        <input class="form-control" name="margin" value="{{ margin }}" required>
                    </label>
                    <label>
                        Loss percent
                        <input class="form-control" name="loss_percent" value="{{ loss_percent }}" required>
                    </label>
                    <div class="mt-3">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-sm btn-success">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>