aiodns==2.0.0
aiohttp~=3.7.4.post0
amqp==5.0.6
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
billiard==3.6.4.0
cached-property==1.5.2
ccxt~=1.50.43
celery~=5.1.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cryptography==3.4.7
dateparser==1.0.0
Django~=3.2.3
django-celery-beat==2.2.0
django-timezone-field==4.1.2
djangorestframework~=3.12.4
idna==2.10
importlib-metadata==4.6.0
kombu==5.1.0
multidict==5.1.0
prompt-toolkit==3.0.19
psycopg2==2.7.7
pycares==4.0.0
pycparser==2.20
python-binance==1.0.12
python-crontab==2.5.1
python-dateutil==2.8.1
pytz~=2021.1
regex==2021.4.4
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
websockets~=9.0.2
yarl==1.6.3
zipp==3.4.1
