{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'base/js/jquery.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'base/css/bootstrap.min.css' %}">
    <link href="{% static 'base/css/main.css' %}">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body id="bootstrap-overwrite">
<div class="container p-md-5">
    {% block content %}{% endblock content %}
</div>
{% block scripts %}{% endblock scripts %}
{% block styles %}{% endblock styles %}
</body>
</html>